// main colors

$color-black: #000;
$color-white: #fff;

$color-dark: #020202;
$color-light-dark: #222222;
$color-super-light-dark: #313131;
$color-green: #328B13;
$color-orange: #F19200;
$color-oragne-dark: #5E3A03;
$color-light-white: #F9F3F3;

